<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Employeefg  </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/CustomCss/Header.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat;ital,wght@0,100;0,200;0,300;0,400;0,600;1,500&display=swap"
          rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto;wght@300;400;500;600&display=swaap" rel="stylesheet" />

</head>
<body style="padding-top: 0px;">
    <header class="=toolbar">
        <a href="@Url.Action("EmployeeList","Employee")" class="logoImage">
            <img src="~/Content/" />
            <div>
                <span class="emp-text-header">EMPLOYEE</span><br>
                <span class="emp-text-header emp-payroll-header">PAYROLL</span>
            </div>
        </a>
    </header>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
